@page
@model ForbiddenModel
@{
    ViewData["Title"] = "Forbidden";
}

<h2>Forbidden: Access denied</h2>
<hr />
<br />

<div>
    <h2 class="text-danger">Sorry, but you don't have access to this operation.</h2>
    <br />
    <a asp-page="Blogs/Index">Back to List</a>
</div>

